<div class="cardNamed">
    <img class="cardPhoto" src="<%= dog.photo %>" alt="Photo">
    <h4 class="cardTitle">
        <%= dog.dog_name %>
    </h4>
    <p class="temperament">
        Breed: <%= dog.breed_name %> , Temperament: <%= dog.temperament %>
    </p>
    <p class="countryOrigin">
        Origin: <%=dog.origin %>
    </p>
</div>