<div class="cardNamed">
    <img src="<%= dog.photo %>" alt="Photo">
    <h5 class="dogName">
        <%= dog.dog_name %>
    </h5>
    <p class="breedName">
        <%= dog.breed_name %> , <%= dog.temperament %>
    </p>
    <p class="countryOrigin">
        Origin: <%=dog.origin %>
    </p>
</div>